:root {
    --clr-neonrock: rgb(255, 94, 20);
    --clr-neonpaper: rgb(20, 255, 235);
    --clr-neonscissor: rgb(20, 114, 255);
    --clr-neonreplay: rgb(255, 20, 39);
    --clr-bg: rgb(33, 25, 25);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--clr-bg);
    color: white;
    text-align: center;


}

.header {
    height: 60px;
    background: rgba(14, 14, 14, 0.775);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bolder;
    font-size: 32px;
    border-bottom: 1px solid #302f2f0c;
    flex-shrink: 0.2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.footer {
    height: 60px;
    background: rgba(14, 14, 14, 0.775);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #302f2f0c;
    font-size: 16px;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    flex: 1;
}
.scorebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    font-size: 25px;


}
.score {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.result {
    background-color: inherit;
    height: 220px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    border: 10px double white;
 
}

.buttons {
    display: flex;
    gap: 30px;
    padding: 50px;


}
.disappear {
    display: none;
}

.player,
.computer,
.tie {
    padding: 10px;
}

button:active {
    transform: translateY(4px);
}

button {
    font-size: 2rem;
    font-family: inherit;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.3em 1em;
    border-radius: 0.25em;
    position: relative;
    background-color: inherit;
    color: var(--clr-neonreplay);
    border: var(--clr-neonreplay) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neonreplay), 0 0 0.5em 0 var(--clr-neonreplay);
}

button#rock {
    font-size: 2rem;
    font-family: inherit;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.3em 1em;
    border-radius: 0.25em;
    position: relative;
    background-color: inherit;
    color: var(--clr-neonrock);
    border: var(--clr-neonrock) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neonrock), 0 0 0.5em 0 var(--clr-neonrock);
}



button#rock::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neonrock);
    opacity: 0;
    background-color: var(--clr-neonrock);
    z-index: -1;
    transition: opacity 100ms linear;

}


button#rock:hover {
    color: var(--clr-bg);
    text-shadow: none;
}

button#rock:hover::before,
button#rock:focus::before {
    opacity: 1;
}

button#rock:hover::after {
    opacity: 1;
}

button#paper {
    font-size: 2rem;
    font-family: inherit;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.3em 1em;
    border-radius: 0.25em;
    position: relative;
    background-color: inherit;
    color: var(--clr-neonpaper);
    border: var(--clr-neonpaper) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neonpaper), 0 0 0.5em 0 var(--clr-neonpaper);
}


button#paper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neonpaper);
    opacity: 0;
    background-color: var(--clr-neonpaper);
    z-index: -1;
    transition: opacity 100ms linear;
}

button#paper:hover {
    color: var(--clr-bg);
    text-shadow: none;
}

button#paper:hover::before,
button#paper:focus::before {
    opacity: 1;
}

button#paper:hover::after {
    opacity: 1;
}

button#scissor {
    font-size: 2rem;
    font-family: inherit;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.4em 1em;
    border-radius: 0.25em;
    position: relative;
    background-color: inherit;
    color: var(--clr-neonscissor);
    border: var(--clr-neonscissor) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neonscissor), 0 0 0.5em 0 var(--clr-neonscissor);
}



button#scissor::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neonscissor);
    opacity: 0;
    background-color: var(--clr-neonscissor);
    z-index: -1;
    transition: opacity 1ms linear;
}

button#scissor:hover {
    color: var(--clr-bg);
    text-shadow: none;
}

button#scissor:hover::before,
button#scissor:focus::before {
    opacity: 1;
}

button#scissor:hover::after {
    opacity: 1;
}